# .env file
.env

# archive files
/archive/

# auth file
playwright/.auth

# Playwright test results
/test-results/
/playwright-report/

# Insomnia-GitHub-Issues-Export ingore
Insomnia-GitHub-Issues-Export/Insomnia-Github-Issues_*.json
Insomnia-GitHub-Issues-Export/Insomnia-Github-Issues_*.csv
Insomnia-GitHub-Issues-Export/Insomnia-Github-Issues_*.xlsx
Insomnia-GitHub-Issues-Export/~*.*



